<head>
  <title>simple-todos</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}

   <div class="container">
    <header>
      <h1>Todo List</h1>
    </header>
 
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  </div>
  <br/>
   <form class="new-task">
        <input type="text" name="text" id="text" placeholder="Type to add new tasks" />
        <input type="text" name="text" id="added_by" placeholder="Type to add by name" />
   </form>

</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="task">
  <li>{{text}} by({{added_by}})</li>
</template>

